{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}

<div class="col-md-4 col-md-offset-4">
	<h1 style="text-align: center">Data Mapper</h1>
	
	<hr>

	<h2>Fetch</h2>
	<p>Input a URL to public .csv file (or .zip containing a .csv) for initial processing. Outputs a new .csv file.</p>
	<form method="post" action="/index"  id="db_post" name="db_post">

	    <div class="form-group">
            <input class="form-control" placeholder="Enter URL to public file">
    	</div>
	    
	    <button type="submit" class="btn btn-primary">Submit</button>

	</form>   

	<hr>

	<h2>Process</h2>
	<p>Upload existing .csv file for processing through category filtering and geocoding systems. Outputs a new .csv file.</p>
	<form method="post" action="/index"  id="db_post" name="db_post">

	    <div class="form-group">
            <input class="form-control" type="file">
    	</div>
	    
	    <button type="submit" class="btn btn-primary">Submit</button>

	</form>   

	<hr>

	<h2>Create Map</h2>
	<p>Takes a finalized .csv file and creates either a test map to check results or a map on the live site.</p>
	<form method="post" action="/index"  id="db_post" name="db_post">

	    <div class="form-group">
            <input class="form-control" type="file">
    	</div>
	    
	    <button type="submit" class="btn btn-info">Stage Map</button>
	    <button type="submit" class="btn btn-success">Live Map</button>

	</form>   

</div>

{% endblock %}  