{% extends "base.html" %} 
{% block content %}

<style>
.file-container {
    overflow: hidden;
    position: relative;
}

.file-container [type=file] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.file-container [type=file] {
    cursor: pointer;
}

.form-control {
	max-width: 100%;
}

textarea.filters {
	height: 300px;
}
</style>

<div class="col-md-4 col-md-offset-4">
	<h1 style="text-align: center">Data Mapper</h1>

	<p><em>A tool to get your street addresses on a map and sorted into categories.</em></p>

	<button id="settings-button" class="btn btn-info btn-sm">Settings</button>
	<button class="btn btn-default btn-sm">Save</button> 
	<label class="file-container btn btn-default btn-sm">
	    Import
	    <input type="file"/>
	</label>

	<div id="settings-panel" style="display:none;">

		<hr>

		<h4>Category Column</h4>
		<p>The title of the column that will be parsed for categorization.</p>
		<div class="form-group">
	        <input class="form-control" placeholder="Column title" id="category-column">
		</div>

		<h4>Category Filters</h4>
		<p>An array of JSON objects that will be matched against the column above. If any of the "keywords" are found, the row will be assigned the object's category and color (unless it also matches a term in the optional "exclude" set). An example is provided by default.</p>
		<div class="form-group">
	        <textarea class="form-control filters" placeholder="Column title" id="category-filters">
{
    "category": "Pie",
    "keywords": ["pie", "slice"],
    "color": "#333333"
},
{
    "category": "Cake",
    "keywords": ["cake", "frosting"],
    "exclude": ["cupcake", "upside-down"],
    "color": "#666666"
}
	        </textarea>
		</div>

		<h4>Street Address Column</h4>
		<p>The title of the column that will be parsed for geocoding.</p>
		<div class="form-group">
	        <input class="form-control" placeholder="Column title" id="address-column">
		</div>
		<p>Optional: Postal code column title, if not included in the street address.</p>
		<div class="form-group">
	        <input class="form-control" placeholder="Column title" id="zip-code-column">
		</div>

		<h4>Bing API Key</h4>
		<p>Bing is used to fetch latitude and longitude points from a given address. Please enter your API key to access this service.</p>
		<div class="form-group">
	        <input class="form-control" placeholder="API key" id="api-key">
		</div>

		<h4>Product Affiliate Code</h4>
		<p>This is the code for the market the story will be created with in P2P.</p>
		<div class="form-group">
	        <input class="form-control" placeholder="Product affiliate code (lanews, chinews, sdut, etc)" id="owner-code">
		</div>

	</div>

	<hr>

	<h2>Fetch</h2>
	<p>Input a URL to public .csv file (or .zip containing a .csv) for initial processing. Outputs a new .csv file.</p>
	<form>

	    <div class="form-group">
            <input class="form-control" placeholder="Enter URL to public file" id="fetch_url">
    	</div>

	    
	    <button id="fetch" class="btn btn-primary">Submit</button>

	</form>   

	<hr>

	<h2>Process</h2>
	<p>Upload existing .csv file for processing through category filtering and geocoding systems. Outputs a new .csv file.</p>
	<form>

	    <div class="form-group">
            <input class="form-control" type="file">
    	</div>
	    
	    <button id="process" class="btn btn-primary">Submit</button>

	</form>   

	<hr>

	<h2>Create Map</h2>
	<p>Takes a finalized .csv file and creates either a test map to check results or a map on the live site.</p>
	<form method="post" action="/index"  id="db_post" name="db_post">

	    <div class="form-group">
            <input class="form-control" type="file">
    	</div>
	    
	    <button id="stage_map" class="btn btn-info">Stage Map</button>
	    <button id="live_map" class="btn btn-success">Live Map</button>

	</form>   

</div>

<script>
	//Show or hide our settings
	$("#settings-button").click(function(){
		$("#settings-panel").slideToggle();
	});

	//Fetch logic
	$("#fetch").click(function(e){
		e.preventDefault();

		//See if we've got valid JSON in the filters
		try {
			var one_line_filters = "[" + $("#category-filters").val().replace(/\r?\n/g, ' ') + "]";
			one_line_filters = JSON.parse(one_line_filters);
		} catch (err){
			var json_error = "Category filters are not valid JSON!";
			alert(json_error);
			throw new Error(json_error);
		}

		//Package data to be sent
		payload = {
			fetch_url: $("#fetch_url").val(),
			category_column: $("#category-column").val(),
			category_filters: one_line_filters,
			address_column: $("#address-column").val(),
			zip_code_column: $("#zip-code-column").val(),
			api_key: $("#api-key").val(),
			owner_code: $("#owner-code").val()
		}

		//Make the fetch request
		var result = $.ajax({
			async: false,
			type: "POST",
			url: '/fetch/',
			data: JSON.stringify(payload),
			contentType: 'application/json;charset=UTF-8',
		});
		//Handle success
		result.done(function(resp) {
			console.log(result);
			console.log(resp);
			if (resp.csv){
				window.location.href = resp.csv;
			}
		});
		//Handle failure
		result.fail(function(resp) {
			//Alert with whatever we got back
			if (resp.responseJSON){
				alert(resp.responseJSON.message);
			} else {
				alert(resp.statusText);
			}
		});
	});


</script>

{% endblock %}  